.records{
    width: 100%;
    user-select: none;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    display: flexbox;
}
.link{
    max-width: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}
.acao{
    width: 400px;
}
.anot{
    max-width: 70ch;
    max-height: 80px;
}
.records th{
    height: 50px;
    background-color: blue;
    color: white;
    padding-left: 20px;
    font-size: 1.2rem;    
    
}
.records td{
    height: 50px;
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;    
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: rgba(120, 120, 240, 0.288);
}

@media(max-width:480px){
    .records{
        border-spacing: 5px;
        margin-top: 50px;
    }
    .records thead{
        display:none;
    }
    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td{
        margin:10px 0;
    }

    .records tr:hover{
        background-color: inherit;
    }
}